<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777826229031-rgg8erili9pk4tjrc2ne5k36ragv5k3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777826229031-rgg8erili9pk4tjrc2ne5k36ragv5k3i</string>
	<key>API_KEY</key>
	<string>AIzaSyAHFrdJPqCLFoDIgBOw9y3llzXqJSd13U4</string>
	<key>GCM_SENDER_ID</key>
	<string>777826229031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.login</string>
	<key>PROJECT_ID</key>
	<string>project-d92b4</string>
	<key>STORAGE_BUCKET</key>
	<string>project-d92b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777826229031:ios:f4bf3efa2a8a0814a16702</string>
</dict>
</plist>